extends layout

block content
    //- randomly assign classes like c0, c5
    //- will be used to pick colors
    - random = Math.floor(Math.random() * 6 + 1)
    != '<div class="c' + random + '">'
        header.cf
            h1.classNumber= classNumber
            h1.className= className
        p.ddc Doge Decimal Classification<br><a href="/" title="gimme another!">Refresh</a> for another or add a 3-digit class to the end of the URL.
    != '</div>'
