extends layout

block content
    div(class=`c${random}`)
        header.cf
            h1.classNumber= classNumber
            h1.className= className

        p.btn-parent
            a(href="/", class="btn", title="gimme another!") Another!
        p.ddc.
                Doge Decimal Classification<br>
                Put your favorite 3-digit class on the end of the URL!
