doctype html
html
    head
        title Doge Decimal Classification
        meta(name="viewport", content="width=device-width")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='author', href='http://phette.net')
    body
        block content
    footer
        p Much love. So <a href="https://twitter.com/phette23">phette23</a>. Very <a href="http://github.com/phette23/dogedc">GitHub</a>.
