doctype html
html(lang="en")
    head
        title Doge Decimal Classification
        meta(name="viewport", content="width=device-width")
        meta(name="description", content="So doge. Many decimal. Much classification. No Dewey. Wow.")
        link(rel="stylesheet", href="/stylesheets/style.min.css")
        link(rel="author", href="http://phette.net")
        link(rel="icon" type="image/png" href="images/favicon.png")
        link(href="images/favicon.png" rel="shortcut icon")
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@phette23")
        meta(name="twitter:title", content="Doge Decimal Classification")
        meta(name="twitter:description", content="So doge. Many decimal. Much classification. No Dewey. Wow.")
        //- WARNING absolute URL, Twitter demands it
        meta(name="twitter:image", content="https://dogedc.herokuapp.com/images/doge.jpg")
        meta(property="og:title", content="Doge Decimal Classification")
        meta(property="og:type", content="website")
        //- WARNING absolute URLs
        meta(property="og:url", content="https://dogedc.herokuapp.com")
        meta(property="og:image", content="https://dogedc.herokuapp.com/images/doge.jpg")
        meta(property="og:description", content="So doge. Many decimal. Much classification. No Dewey. Wow.")
    body
        block content

        footer
            div.shiba
                a(href="/", title="gimme another!")
                    img(src='images/doge.jpg' width='130' height='128')
            p Much love. So <a href="https://twitter.com/phette23">phette23</a>. Very <a href="http://github.com/phette23/dogedc">GitHub</a>.

        //- Google Analytics script
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-29080462-4', 'dogedc.herokuapp.com');
            ga('send', 'pageview');
