body {
    /* need Marker Felt for iOS */
    font-family: "Comic Sans MS", "Comic Sans", Chalkboard, "Marker Felt", Helvetica, sans-serif;
    margin: 0;
    padding: 1em;
}

p {
    margin: 1em;
}

/* random color sets */
.c0 .className {
    color: #69f;
}
.c0 .classNumber {
    color: #0000ff;
}
.c0 .ddc {
    color: #00ffff;
}
.c0 .btn {
    background-color: #20e;
    color: #fff;
}
.c1 .className {
    color: #ff0000;
}
.c1 .classNumber {
    color: #7f007f;
}
.c1 .ddc {
    color: #ffe561;
}
.c1 .btn {
    background-color: #000;
    color: #EC88FF;
}
.c2 .className {
    color: #ff00ff;
}
.c2 .classNumber {
    color: #ff7f00;
}
.c2 .ddc {
    color: #996633;
}
.c2 .btn {
    background-color: #ddd;
    color: #227A00;
}
.c3 .className {
    color: #35996a;
}
.c3 .classNumber {
    color: #0000ff;
}
.c3 .ddc {
    color: #00ffff;
}
.c3 .btn {
    background-color: #20e;
    color: #fff;
}
.c4 .className {
    color: #ff0000;
}
.c4 .classNumber {
    color: #ff00ff;
}
.c4 .ddc {
    color: #00ff00;
}
.c4 .btn {
    background-color: #2400FF;
    color: #EBEB18;
}
.c5 .className {
    color: #ffde5f;
}
.c5 .classNumber {
    color: #ff825b;
}
.c5 .ddc {
    color: #ff00be;
}
.c5 .btn {
    background-color: #550355;
    color: #fff;
}
.c6 .className {
    color: #375bff;
}
.c6 .classNumber {
    color: #ff175f;
}
.c6 .ddc {
    color: #44ff2e;
}
.c6 .btn {
    background-color: #00E4EE;
    color: #4B0000;
}

/* main pieces */
.classNumber {
    color: #800000;
    float: left;
    font-size: 3em;
    margin-right: 1em;
}

.className {
    color: #999;
    font-size: 3em;
}

.ddc {
    font-style: italic;
    margin-left: 1em;
}

.ddc a,
.ddc a:visited {
    color: #00B7FF;
}

/* shamelessly stolen foor twitrar boozetrap
shh don't tell! */
.btn {
    border-radius: .3em;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 3em;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 10px 16px;
    text-align: center;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:link,
.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:active,
.btn.active {
        -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

/* center on small screens */
.btn-parent {
    text-align: center;
}

/* footer stuff */
footer {
    display: table;
    margin-top: 2.5em;
}

footer a {
    color: #00B7FF;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
    transition: all 0.6s;
}

.ddc a:hover,
.ddc a:active,
footer a:hover,
footer a:active {
    color: #D51BE0;
}

.shiba {
    margin-right: 1em;
}

footer p {
    display: table-cell;
    vertical-align: middle;
}

/* micro clearfix */
.cf:before,
.cf:after {
    content: ' ';
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* media queries */
@media screen and (min-width: 600px) {
    body {
        padding: 2em;
    }

    .btn-parent {
        /* extra spacing */
        margin-bottom: 2em;
        text-align: inherit;
    }

    footer {
        bottom: 0;
        padding: 1em;
        position: absolute;
        right: 0;
    }
}
